<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Comfortaa" rel="stylesheet">
    <link rel="stylesheet" href="../styles/pin_style.css">

    <title>Hi there</title>
</head>

<body>
    <div class="container">
        <h1>Please enter password to continue</h1>
        <p style="font-size: 20px;"> Hint: 6 digits of your birthday (dd/mm/yy)</p>

        <div class="pin-login" id="mainPinLogin">
            <input type="password" readonly class="pin-login-text">
            <div class="pin-login-numpad">
            </div>
        </div>
        <script src="../js/pin.js"></script>
    </div>
</body>

</html>